:root {
  --primary: #ddd;
  --dark: #333;
  --buttons: #60061e;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.7);
}

html {
  box-sizing: border-box;
  color: var(--dark);
  scroll-behavior: smooth;
}

body {
  background: #ccc;
  //margin:15px 15px;
  margin: 0;
  line-height: 1.4;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn {
  background: var(--buttons);
  color: var(--light);
  padding: 1rem 2rem;
  text-decoration: none;
  border: 0;

  &:hover {
    color: var(--primary);
    background-color: var(--dark);
  }
}

img {
  max-width: 100%;
  height: auto;
}
